#more {
  display: none;
}
#zweimore {
  display: none;
}
#dreimore {
  display: none;
}
#cookie-bar-bottom {
	bottom: 0;
}
.cookie-bar {
	width: 100%;
	line-height: 40px;
	left: 0;
	position: fixed;
	z-index: 100;
	background-color: darkkhaki;
}
.cookie-content {
	color: white;
	text-align: center;
	padding-bottom: 10px;
    padding-top: 15px;
}
.cookie-hide {
	margin-left: 60px;
	text-decoration: none;
	background-color: darkgreen;
	color: white;
	border: 1px solid white;
	outline: none;
}
.cookie-hide:hover {
	background-color: #155670;
}